*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: rgb(254, 254, 254);;
}
.back-img{
   background-image: url(../img/shutterstock_348320018.png);
   height: 400px;
}
.login, .createaccount{
    text-decoration: none;
    border: 2px solid white;
    height: 30px;
    color: white;
    border-radius: 6px;
}
.login:hover, .createaccount:hover{
    color: white;
}
.logo{
    display: inline;
    color: red;
    background-color: white;
    border-radius: 50%;
    font-size: 70px;
    font-weight: 600;
}
.restaurantTitle{
    color: white;
    font-size: 35px;
    font-weight: 600;
}
.locationDropdown{
    font-size: 20px;
    color: red;
    font-weight: 600;
    outline: none;
    cursor: pointer;
    border: 0px solid red;
    border-radius: 7px;
}
.restaurantsInputs{
    font-size: 20px;
    color: red;
    font-weight: 600;
    outline: none;
    border: 0px solid red;
    border-radius: 7px;
}

/* 2nd section styling */

.quick-search-text{
    font-size: 30px;
    color: #192F60;
    font-weight: 700;
}
.discover-text{
    font-size: 18px;
    color: #8C96AB;
    font-weight: 700;
}