*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: rgb(254, 254, 254);;
}
.back-img{
   background-image: url(../img/shutterstock_348320018.png);
   height: 400px;
}
.login, .createaccount{
    text-decoration: none;
    border: 2px solid white;
    height: 30px;
    color: white;
    border-radius: 6px;
}
.login:hover, .createaccount:hover{
    color: white;
}
.logo{
    display: inline;
    color: red;
    background-color: white;
    border-radius: 50%;
    font-size: 70px;
    font-weight: 600;
}
.restaurantTitle{
    color: white;
    font-size: 35px;
    font-weight: 600;
}
.locationDropdown{

}
.restaurantsInputs{
    
}